{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/forbid-prop-types": [
      0
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "indent": "off",
    "react/jsx-indent": [
      0
    ],
    "no-trailing-spaces": 2,
    "react/destructuring-assignment": [
      0,
      "never"
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/prefer-stateless-function": "off",
    "jsx-a11y/media-has-caption": [
      0
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "eqeqeq": [
      2,
      "smart"
    ],
    "guard-for-in": 2,
    "no-undef": 2,
    "no-unused-vars": [
      2,
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "strict": 0,
    "new-cap": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "no-new": 0,
    "no-alert": 0,
    "no-use-before-define": 0,
    "consistent-return": 0,
    "no-console": [
      2,
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-shadow": 1,
    "no-cond-assign": 1,
    "dot-notation": 1,
    "max-len": 0,
    "prefer-destructuring": 0,
    "no-param-reassign": "off",
    "one-var": 1,
    "prefer-const": 1,
    "no-plusplus": 0,
    "no-multi-assign": 1,
    "no-restricted-globals": 1,
    "radix": 2,
    "array-callback-return": 1,
    "no-case-declarations": 1,
    "no-unreachable": 1,
    "no-empty": 1,
    "no-mixed-operators": 0,
    "no-restricted-syntax": 1,
    "no-useless-escape": 0,
    "no-useless-concat": 1,
    "no-bitwise": 1,
    "func-names": 0,
    "prefer-spread": "off",
    "import/no-extraneous-dependencies": "off",
    "prefer-rest-params": "off",
    "quote-props": "off",
    "no-script-url": 0,
    "no-control-regex": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-no-bind": "off",
    "react/no-danger": "off",
    "react/require-default-props": "off",
    "react/default-props-match-prop-types": "off",
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unknown-property": "off"
   
  }
}